body 
{
	
	background: #f4f9ff url('../images/logo.png') center top no-repeat;
	font-family: 'Open Sans', sans-serif;
	margin-top:60px;
    font-size:16px;
	
}

.title
{
	
	font-size:20px;
	
}

#login_block
{
		
}

form
{
	
	margin-left:auto;
	margin-right:auto;
	border:solid #ddd 1px;
	padding:15px;
	position:relative;
	width:25%;
	background:#fbfbfb;
	border-radius:15px;
	font-size:16px;
	color:#676767;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.25);
	
}

label
{
	
	display:block;
	width:120px;
	
}

input[type="text"], input[type="password"]
{
	
	width:100%;
	height:25px;
	border-radius:5px;
	border: solid #cbcbcb 1px;
	
}

.submit {

  width:250px;
  display: block;
  margin: 0 auto 18px auto;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #FF7052;
  color: #FF7052;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
  position:relative;
}

.submit:hover,
.submit:focus {
  background: #FF7052;
  color: #fff;
  outline: 0;
}


.expire_button
{
	width:180px;
	display:inline-block;
	
}

a
{
	
	color: #454545;
	
}

a:hover
{
	
	text-decoration:none;
	
}

.error
{
	
	color: #ff0000;
	
}
